
body {
    margin-top: 0%;
    background-image:

}

header {
    display:inline-block;
    padding:10px;
    margin:150px;
    margin-top:0%;
    margin-bottom:0%;
    background-color: #4aaaa5;
    color: white; 
    font-family:'Georgia', Times, Times New Roman, serif;
        
}

hr {
    margin-top: 0%
}

.links {
    display: inline-block;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 10px; 
    color: #777777
    
}

ul li a{
    text-decoration: none;
    
}
.bio {
    width: 960px;
 
}

h2 {
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;

}

img {
    height: 250px;
    width: 200px;
    margin: 0%
}

p {
    font-family: Arial, Helvetica, sans-serif;

}
footer {
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
}